@model IEnumerable<P_WebFinal.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<style>

    
</style>
<div id="container">
<span class="text first-text">Listado De</span>
<span class="text sec-text">Peliculas</span>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nueva Pelicula</a>
</p>

@foreach (var item in Model) {
      
        <div class="card" style="width: 16rem;">
  <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="card-img-top">
  <button id="Ver" onclick="mostrar();"  class="btn btn-secondary" >Mas Detalle</button>
  <div id="Esconder">
  <div class="card-body" >
    <h5 class="card-title"> Titulo: @Html.DisplayFor(modelItem => item.Titulo)</h5>
    <p class="card-text"> Descripción: @Html.DisplayFor(modelItem => item.Descripcion)</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Genero: @Html.DisplayFor(modelItem => item.Genero)</li>
    <li class="list-group-item"> Año: @Html.DisplayFor(modelItem => item.Año)</li>
    <li class="list-group-item"> Director: @Html.DisplayFor(modelItem => item.Director)</li>
  </ul>
  <div class="card-body">
    <a asp-action="Edit" asp-route-id="@item.IdP" class="btn btn-primary">Editar</a>
    <a asp-action="Delete" asp-route-id="@item.IdP" type="button" class="btn btn-danger">Eliminar</a>
    <a type="button" class="btn btn-primary" id="Menos" onclick="menos();">Menos Detalle</a>
    <br>
  </div>
  </div>
  </div>
<br>
}
</div>
<script>
function mostrar() 
{
    document.getElementById('Esconder').style.display = 'block';
    document.getElementById('Ver').style.display = 'none';
}

function menos() 
{
    document.getElementById('Esconder').style.display = 'none';
    document.getElementById('Ver').style.display = 'block';
    
}



</script>

 
